<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>

<nav th:fragment="nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Miniapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/user/dashboard">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/post/add">Add question</a>
            </li>
            <li class="nav-item">
                <a th:if="${userSession.isLogin()} " class="nav-link" href="/user/logout">Logout</a>
                <a th:if="${!userSession.isLogin()} " class="nav-link" href="/user/login">Login</a>
            </li>

            <li class="nav-item">
                <a th:if="${userSession.isLogin()} " class="text" th:text="${userSession.getNickname()}"> </a>
                <a th:if="${!userSession.isLogin()} " class="text">No one</a>
            </li>

           <!-- <li class="nav-item" >
                <a th:if="${userSession.power()=1} " class="text">User</a>
                <a th:if="${userSession.power()=2} " class="text">Mod</a>
                <a th:if="${userSession.power()=3} " class="text">Admin</a>
            </li>
-->
           <!-- <div th:switch="${userSession.power()}">
                <p th:case="0"></p>
                <p th:case="1">User</p>
                <p th:case="2">Mod</p>
                <p th:case="3">Admin</p>
            </div> -->

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

</body>
</html>