<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<th:block th:replace="user/inc/nav :: nav"></th:block>

<center>
    <h1> Dashboard</h1>
    <div style="width: 70%; margin-top: 45px">

        <div th:if="${info != null}" th:text="${info}" class="alert alert-success" role="alert"></div>

        <th:block th:each="post : ${posts}">
            <div class="card">
                <h5 class="card-header" th:text="${post.getPostName()}"></h5>
                <div class="card-body">

                    <p class="card-text" style="overflow:hidden " th:text="${post.getPostText()}"></p>
                    <a th:href="${'/user/post/details_post/' + post.getId()}" class="btn btn-primary">Add Comment</a>
                    <a th:if="${userSession.getAccountType().name() == 'ADMIN'}" th:href="${'/user/post/delete/' + post.getId()}" class="btn btn-primary">Delete</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> Created: </small>
                    <small class="text-muted" th:text="${post.getCreationTime()}"></small>
                </div>
            </div>
            <br/>
        </th:block>
    </div>


</center>
</body>
</html>

