<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymelef.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<th:block th:replace="user/inc/nav :: nav"></th:block>
<center>

    <header style="color: aqua"> <h1> Fill register form </h1></header>

    <div th:if="${isEmailExist}" class="alert alert-warning" role="alert">
        Email is used!
    </div>

    <div th:if="${isRegistered !=null && !isRegistered}" class="alert alert-danger" role="alert">
        Register error!
    </div>

    <div th:if="${isPasswordMatches}" class="alert alert-dark" role="alert">
        Passwords dont match!
    </div>
    <br/>

    <form action="/user/register" method="post" th:object="${registerForm}">
        Nickname: <input th:field="*{nickname}" type="text"><br/>
        Email: <input th:field="*{email}" type="text"><br/>
        Password: <input th:field="*{password}" type="password"><br/>
        Password again: <input th:field ="*{repeatedPassword}" type="password"><br/>

        Something about: <input th:field ="*{aboutMe}" type="text"><br/>

        <input type="submit" value="Register">

    </form>
</center>
</body>
</html>